{% load static %}
<!-- Inside your base HTML template (e.g., base.html) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Tabs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GridIllus.css' %}">
    <link rel="icon" href="{% static 'Images/XathaLit2bit.ico' %}">

</head>
<body>
<div class="navbar">
    <div class="nav-links">
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>

      <div class="dropdown">
        <button class="dropbtn">Art
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" style="overflow:visible">
          <a href="{% url 'prints' %}" class="{% if request.path == '/prints/' %}active{% endif %}">Illustrations</a>
          <a href="{% url 'prints' %}" class="{% if request.path == '/prints/' %}active{% endif %}">Prints</a>
          <a href="#">Heretics of Xathia</a>
          <a href="#">Sketches</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Research
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" style="overflow:visible">
          <a href="{% url 'publications' %}" class="{% if request.path == '/publications/' %}active{% endif %}">Publications</a>
          <a href="#">Projects</a>
          <a href="#">Opinions</a>
        </div>
      </div>

        <!--<a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a>-->
        <!-- Add tabs for other pages as needed -->
    </div>

    <div class="icon">
        <img src="{% static 'Images/XathaLit2bit.ico' %}" alt="Icon">
    </div>
    <div class="name">
        Tristan J Canterbury
    </div>
</div>

<div class="content">
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
</div>

