{% load static %}
<!-- Inside your base HTML template (e.g., base.html) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Tabs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GridIllus.css' %}">
    <link rel="icon" href="{% static 'Images/XathaLit2bit.ico' %}">

</head>
<body>
<div class="navbar">
    <div class="nav-links">

      <div class="dropdown">
        <a href="{% url 'home' %}" class="dropbtn">Home</a>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Science
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" style="overflow:visible">
          <a href="{% url 'projects' %}" class="{% if request.path == '/projects/' %}active{% endif %}">Projects</a>
          <a href="{% url 'publications' %}" class="{% if request.path == '/publications/' %}active{% endif %}">Publications</a>
          <a href="{% url 'opinions' %}" class="{% if request.path == '/opinions/' %}active{% endif %}">Blog</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Fiction
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" style="overflow:visible">
          <a href="{% url 'prints' %}" class="{% if request.path == '/prints/' %}active{% endif %}">Illustrations</a>
          <a href="{% url 'heretics' %}" class="{% if request.path == '/heretics/' %}active{% endif %}">Heretics of Xathia</a>
          <a href="{% url 'sketches' %}" class="{% if request.path == '/sketches/' %}active{% endif %}">Sketches </a>
        </div>
      </div>

      <div class="dropdown">
        <a href="{% url 'contact' %}" class="dropbtn">Contact</a>
      </div>

        <!-- Add tabs for other pages as needed -->
    </div>

    <div class="icon">
        <img src="{% static 'Images/XathaLit2bit.ico' %}" alt="Icon">
    </div>
    <div class="name">
        Tristan J Canterbury
    </div>
</div>

<div class="content">
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
</div>

