
.profile {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

.profile_image img {
    width: auto;
    height: 500px; /* Top, right, bottom, left */
    justify-content: center;
}

.profile-info {
    /* Ensure the text is positioned to the right */
    /* Adjust text alignment */
    text-align: justify;
    font-size: 20px;
}

@media ( max-width: 800px) {
    .profile {
      flex-direction:column;
    }
  }