{% extends 'base.html' %}
{% load static %}
{% block title %}Home - About Me{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}">
<div class="profile">
    <div class="profile_image">
    <img src="{% static 'Images/ProfileNevis.jpg' %}"  alt="Tristan's Profile Photo" style="width: auto; max-height: 500px; margin: 20px;">
    </div>
    <div class="profile-info" style="white-space: pre-line;">
        <h1 style="font-family: 'Courier New'; color: orange; text-align: center;">About Me</h1>  <p>{{ profile.description }}</p>
    </div>
</div>

{% endblock %}