{% extends 'base.html' %}

{% block title %}Fiction - Prints{% endblock %}

{% block content %}
<script>
    function openFullScreen(imageUrl) {
        // Create a new full screen window
        var fullScreenWindow = window.open("", "_blank", "fullscreen=yes");

        // Set the HTML content of the full screen window to display the image
        fullScreenWindow.document.write("<img src='" + imageUrl + "' style='width: 100%; height: 100%; object-fit: contain;'>");

        // Prevent the default behavior of the link
        return false;
    }
</script>

<div style="text-align: center;">
    <div class="grid-container">
        {% for print in prints %}
            <div class="grid-item">
                <h3>{{ print.title }}</h3>
                <!-- Add onclick event to open the image in full screen -->
                <img src="{{ print.image.url }}" alt="{{ print.title }}" width="250" onclick="return openFullScreen('{{ print.image.url }}')" style="cursor: pointer;">
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}