{% extends 'base.html' %}

{% block title %}Fiction - Sketches{% endblock %}

{% block content %}
<script>
    function openFullScreen(imageUrl) {
        // Create a new full screen window
        var fullScreenWindow = window.open("", "_blank", "fullscreen=yes");

        // Set the HTML content of the full screen window to display the image
        fullScreenWindow.document.write("<img src='" + imageUrl + "' style='width: 100%; height: 100%; object-fit: contain;'>");

        // Prevent the default behavior of the link
        return false;
    }
</script>

<div style="text-align: center;">
        {% for sketch in sketches %}
                <h1 style="font-family: 'Courier New'; color: orange; text-align: center;">{{ sketch.title }}</h1>
                <!-- Add onclick event to open the image in full screen -->
                <img src="{{ sketch.image.url }}" alt="{{ sketch.title }}" width="100%" onclick="return openFullScreen('{{ sketch.image.url }}')" style="cursor: pointer;">
        {% endfor %}
</div>
{% endblock %}